{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }} {# Si le parent contient des stylesheets, on les garde #}
    <link rel="stylesheet" href="{{ asset('insertion.css') }}">
{% endblock %}
{% block title %}Inscription nouveau User{% endblock %}

{% block body %}
    <div class="formulaire-insertion">
        <h4>Inscription nouveau User</h4>

        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm, {'attr': {'id': 'insertionForm'}}) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
            {{ form_row(registrationForm.nom) }}
            {{ form_row(registrationForm.matricule) }}
            {# {{ form_row(registrationForm.agreeTerms) }} #}

            <input type="submit" value="Enregistrer">
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}


{% block javascripts %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const form = document.getElementById('insertionForm');
        //id attribute on the form: Setting an id (insertionForm) ensures that your JavaScript accurately selects the correct form.
        if (form) {
			//The if (form) line verifies that the form is in the DOM before trying to add the event listener.
            form.addEventListener('submit', function(event) {
                alert('inscription réussie');
				
            });
        }
    });
</script>
{% endblock %}