{% extends 'base.html.twig' %}

{% block title %}Hello FormulairesController!{% endblock %}

{% block body %}
<h1>Formulaire  insertion DetailCommande</h1>
{% block javascripts %}
		{{ encore_entry_script_tags('vue1') }}
{% endblock %}
{{ form_start(formulaireDetailCommande) }}
{{ form_row(formulaireDetailCommande.quantite) }}
{{ form_row(formulaireDetailCommande.prixUnitaire) }}
{{ form_row(formulaireDetailCommande.commandesD) }}
{{ form_row(formulaireDetailCommande.produits) }}

<input type="submit" value="Inserer">
{{ form_end(formulaireDetailCommande) }}

{% endblock %}