{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }} {# Si le parent contient des stylesheets, on les garde #}
    <link rel="stylesheet" href="{{ asset('filtre.css') }}">
{% endblock %}
{% block title %}Hello FormulairesController!{% endblock %}

{% block body %}
<h4>Formulaire Recherche fournisseur par nom sans ajax</h4>
{{ form_start(form, {'attr':{'id':'recherche-form'}}) }}
{{ form_row(form.nom) }}
<button type="submit" id="btn" >Rechercher</button>
{# <input type="submit" value="Inserer"> #}
{{ form_end(form) }}

{% endblock %}