{% extends 'base.html.twig' %}

{% block title %}Hello FormulairesController!{% endblock %}

{% block body %}
Resultat Recherche fournisseur par nom sans ajax

{{ "\n"|nl2br }}
{{ "\n"|nl2br }}
{% for item in fournisseur %}
    nom: {{ item.nom }}
 {{ "\n"|nl2br }} Email: {{item.email}} 
{{ "\n"|nl2br }} Adresse: {{item.adresse}} 
 {{ "\n"|nl2br }} Taille: {{item.taille}} 
 {{ "\n"|nl2br }} Localisation Geographique: {{item.localisationGeographique}} 
  {{ "\n"|nl2br }} Prix: {{item.prix}} 
 {{ "\n"|nl2br }} Certifications: {{item.certifications}} 
 {{ "\n"|nl2br }} Technologies Utilisees: {{item.technologiesUtilisees}} 
  {{ "\n"|nl2br }} Modes De Livraison: {{item.modesDeLivraison}} 

{% else %}
    <p>Le fournisseur n'existe pas.</p>
{% endfor %}



 {# nom: {{ fournisseur.nom|default("fournisseur n'existe pas") }} #}
 {# {{ "\n"|nl2br }} Email: {{fournisseur.email}}  #}
{% endblock %}