{% extends 'base.html.twig' %}

{% block title %}Hello FormulairesController!{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('fiche.css') }}">
{% endblock %}
{% block body %}
<div class="container">
<h4>Resultat Recherche fournisseur par nom sans ajax</h4>


{% for item in fournisseurs %}
 <div class="item-card">
        <div class="item-info">
            <b>nom:</b> {{ item.nom }}
        </div>
        <div class="item-info">     
            <b>Moyenne des Evaluations:</b> 
                {{item.moyenne}}
        </div>
        <div class="item-info">
            {% if item.moyenne <3 %}
                <span class="sub-info"><b>"Classe C"</b></span>
            {% elseif item.moyenne ==3 %}
                <span class="sub-info"><b>"Classe B"</b></span>
            {% else %}
            <span class="sub-info"><b>"Classe A"</b></span>
            {% endif %}
        </div>
        <div class="item-info">
            <b>Email:</b> {{item.email}} 
        </div>
        <div class="item-info">
            <b>Adresse:</b> {{item.adresse}} 
        </div>
        <div class="item-info">
            <b>Taille:</b> {{item.taille}} 
        </div>
        <div class="item-info">
            <b>Localisation Geographique:</b> {{item.localisationGeographique}} 
        </div>
        <div class="item-info">
            <b> Prix:</b> {{item.prix}} 
        </div>
        <div class="item-info">
            <b>Certifications:</b> {{item.certifications}} 
        </div>
        <div class="item-info">
            <b>Technologies Utilisees:</b> {{item.technologiesUtilisees}} 
        </div>
        <div class="item-info">
            <b>Modes De Livraison:</b> {{item.modesDeLivraison}}
        </div>
        <div class="item-info">  
        
            <b>Liste de produits:</b> {{ "\n"|nl2br }}
            {% for produit in item.produitsF %}
            {{ produit.matricule }}<br>
            {% endfor %}
        </div> 
        <div class="item-info">
            <b>Liste de Commandes:</b> {{ "\n"|nl2br }}
            {% for i in item.commandes %}
                {{ i.numero }}<br>
            {% endfor %}
        </div>
        <div class="item-info">
 
 <b>Liste des Evaluations:</b> {{ "\n"|nl2br }}
 {% for i in item.evaluations %}
    <b>date:</b> {{ i.date|date('d-m-Y') }} <b>note:</b>{{ i.note }} 
    <br>
{% endfor %}
    </div>  

{% else %}
    <p>Le fournisseur n'existe pas.</p>
{% endfor %}
        </div>
{{ "\n"|nl2br }} 
</div>
</div>
 {# nom: {{ fournisseur.nom|default("fournisseur n'existe pas") }} #}
 {# {{ "\n"|nl2br }} Email: {{fournisseur.email}}  #}
{% endblock %}