{% extends 'base.html.twig' %}

{% block title %}Hello FormulairesController!{% endblock %}

{% block body %}
<h4>Vue qui affiche toutes les details commandes</h4>
<ul>
{% for detailcommande in touslesdetailscommandes %}
<li> <b>Id</b> {{detailcommande.id}} 
<a href="{{ path ('updateDetailsCommande', {id:detailcommande.id}) }}">Update</a>

<a href="{{ path ('deleteDetailsCommande', {id:detailcommande.id}) }}">Delete</a>
{{ "\n"|nl2br }}
La commande <b>Numero</b>{{detailcommande.commandesD.numero}} consomme une <b>quantite</b> egale a  {{detailcommande.quantite}} de produit ayant la <b>matricule </b> {{detailcommande.produits.matricule}} 


</li>
 {% endfor %}
</ul>

{% endblock %}