{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }} {# Si le parent contient des stylesheets, on les garde #}
    <link rel="stylesheet" href="{{ asset('liste.css') }}">
{% endblock %}
{% block title %}Hello FormulairesController!{% endblock %}

{% block body %}
<div class="container">
<h4 class="title">Tous les produits</h4>
<div class="item-list">

    {% for produit in touslesproduits %}
    <div class="item-card">
        <h5 class="item-matricule"> Matricule: {{produit.matricule }}</h5>
        <p><strong>Fournisseur:</strong>  {{produit.produitFournisseur.nom}} </p>
            <div class="actions">
                <a href="{{ path ('afficherunProduit', {id:produit.id}) }} "class="btn consult">Consulter</a>
                <a href="{{ path ('updateProduit', {id:produit.id}) }}"class="btn update">Update</a>
                <a href="{{ path ('deleteProduit', {id:produit.id}) }}" class="btn delete">Delete</a>
            </div>
            </div>
    {% endfor %}
    </div>
</div>
{% endblock %}