{% extends 'base.html.twig' %}

{% block title %}Hello FormulairesController!{% endblock %}

{% block body %}
<h4>Toutes les commandes</h4>
{{ "\n"|nl2br }}
{{ "\n"|nl2br }}
<ul>
{% for commande in toutescommandes %}
<li><b>Numero de commande :</b> {{commande.numero }} 
<a href="{{ path ('afficheruneCommande', {id:commande.id}) }}">Consulter</a>

<a href="{{ path ('updateCommande', {id:commande.id}) }}">Update</a>
<a href="{{ path ('deleteCommande', {id:commande.id}) }}">Delete</a>
{{ "\n"|nl2br }} <b>- Statut:</b> {{commande.statutCommande}} 



</li>
 {% endfor %}
</ul>

{% endblock %}