{% extends 'base.html.twig' %}

{% block title %}Hello FormulairesController!{% endblock %}

{% block body %}
<h4>Toutes les evaluations</h4>
{{ "\n"|nl2br }}
{{ "\n"|nl2br }}
<ul>
{% for evaluation in toutesevaluations %}
<li> <b>Note:</b> {{evaluation.note}} <b>User:</b> {{evaluation.user.matricule}}
<a href="{{ path ('updateEvaluation', {id:evaluation.id}) }}">Update</a>
<a href="{{ path ('deleteEvaluation', {id:evaluation.id}) }}">Delete</a>
<a href="{{ path ('afficheruneevaluation', {id:evaluation.id}) }}">Consulter</a>


{{ "\n"|nl2br }}<b>- Commentaire </b>{{evaluation.commentaire}}
{{ "\n"|nl2br }}<b>- Fournisseur </b>{{evaluation.evaluationFournisseur.nom}}
{{ "\n"|nl2br }}
</li> 
 {% endfor %}
</ul>


{% endblock %}