{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }} {# Si le parent contient des stylesheets, on les garde #}
    <link rel="stylesheet" href="{{ asset('liste.css') }}">
{% endblock %}
{% block title %}Hello FormulairesController!{% endblock %}

{% block body %}

<div class="container">
<h4 class="title">Toutes les commandes</h4>
<div class="item-list">

{% for commande in toutescommandes %}
<div class="item-card">
    <h5 class="item-matricule"> Numero de commande  {{commande.numero }}</h5> 
    <p><strong>Statut:</strong> {{commande.statutCommande}} </p>
        <div class="actions">
            <a href="{{ path ('afficheruneCommande', {id:commande.id}) }} "class="btn consult">Consulter</a>

            <a href="{{ path ('updateCommande', {id:commande.id}) }} "class="btn update">Update</a>
            <a href="{{ path ('deleteCommande', {id:commande.id}) }}" class="btn delete">Delete</a>

            </div>
            </div>
    {% endfor %}
    </div>
</div>
{% endblock %}