{% extends 'base.html.twig' %}

{% block title %}Hello FormulairesController!{% endblock %}

{% block body %}
<h3>Formulaire update Evaluation</h3>
{{ form_start(form, {'attr': {'id': 'updateEvaluation'}}) }}
{{ form_row(form.note) }}
{{ form_row(form.commentaire) }}
{{ form_row(form.user) }}
{{ form_row(form.evaluationFournisseur) }}

<input type="submit" value="Update !">
{{ form_end(form) }}
{% endblock %}

{% block javascripts %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const form = document.getElementById('updateEvaluation');
        //id attribute on the form: Setting an id (updateEvaluation) ensures that your JavaScript accurately selects the correct form.
        if (form) {
			//The if (form) line verifies that the form is in the DOM before trying to add the event listener.
            form.addEventListener('submit', function(event) {
                alert('Modification réussie');
				// Redirect to the new path after the alert
                window.location.href = '{{ path("afficherToutesEvaluation") }}';
            });
        }
    });
</script>
{% endblock %}