{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('fiche.css') }}">
{% endblock %}
{% block body %}
<div class="container">
<h4>Le fournisseur choisi est :</h4>
  <div class="item-card">
        <div class="item-info">
        <b>Nom:</b> {{ fournisseur.nom|default("fournisseur n'existe pas") }}
        </div>
        <div class="item-info">
        <b>Moyenne des Evaluations:</b> 
        {{moyenne}}
        </div>
        <div class="item-info">
{% if moyenne <3 %}
    <span class="sub-info"><b>"Classe C"</b></span>
{% elseif moyenne ==3 %}
     <span class="sub-info"><b>"Classe B"</b></span>
{% else %}
   <span class="sub-info"><b>"Classe A"</b></span>
{% endif %}
        </div>
        <div  class="item-info">
        <b>Email:</b> {{fournisseur.email}} 
        </div>
        <div class="item-info">
        <b>Adresse:</b> {{fournisseur.adresse}} 
        </div>
        <div class="item-info">
        <b>Taille:</b> {{fournisseur.taille}} 
        </div>
        <div class="item-info">
        <b>Localisation Geographique:</b> {{fournisseur.localisationGeographique}} 
        </div>
        <div class="item-info">
       <b>Prix:</b> {{fournisseur.prix}} 
       </div>
        <div class="item-info">
        <b>Certifications:</b> {{fournisseur.certifications}} 
        </div>
        <div class="item-info">
       <b>Technologies Utilisees:</b> {{fournisseur.technologiesUtilisees}}
       </div>
        <div class="item-info"> 
       <b>Modes De Livraison:</b> {{fournisseur.modesDeLivraison}}
       </div>
        <div class="item-info">
     <b>Liste de produits:</b> {{ "\n"|nl2br }}
      {% for produit in fournisseur.produitsF %}
      {{ produit.matricule }}<br>
      {% endfor %}
        </div>
        <div class="item-info">
         <b>Liste de Commandes:</b> {{ "\n"|nl2br }}
        {% for item in fournisseur.commandes %}
            {{ item.numero }}<br>
        {% endfor %}
        </div>
        <div class="item-info">
 
 <b>Liste des Evaluations:</b> {{ "\n"|nl2br }}
 {% for item in fournisseur.evaluations %}
    <b>date:</b> {{ item.date|date('d-m-Y') }} <b>note:</b>{{ item.note }} 
    <br>
{% endfor %}
    </div> 

   
</div> 
</div>
    
{% endblock %}