{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<h4>Le fournisseur choisi est :</h4>
{{ "\n"|nl2br }}
{{ "\n"|nl2br }}




 <b>nom:</b> {{ fournisseur.nom|default("fournisseur n'existe pas") }}
 {{ "\n"|nl2br }} <b>Email:</b> {{fournisseur.email}} 
{{ "\n"|nl2br }} <b>Adresse:</b> {{fournisseur.adresse}} 
 {{ "\n"|nl2br }} <b>Taille:</b> {{fournisseur.taille}} 
 {{ "\n"|nl2br }} <b>Localisation Geographique:</b> {{fournisseur.localisationGeographique}} 
  {{ "\n"|nl2br }} <b>Prix:</b> {{fournisseur.prix}} 
 {{ "\n"|nl2br }} <b>Certifications:</b> {{fournisseur.certifications}} 
 {{ "\n"|nl2br }} <b>Technologies Utilisees:</b> {{fournisseur.technologiesUtilisees}} 
  {{ "\n"|nl2br }} <b>Modes De Livraison:</b> {{fournisseur.modesDeLivraison}}
{{ "\n"|nl2br }} <b>Liste de produits:</b> {{ "\n"|nl2br }}
{% for produit in fournisseur.produitsF %}
    {{ produit.matricule }}<br>
{% endfor %}
 {{ "\n"|nl2br }} <b>Liste de Commandes:</b> {{ "\n"|nl2br }}
 {% for item in fournisseur.commandes %}
    {{ item.numero }}<br>
{% endfor %}
 {{ "\n"|nl2br }}
 <b>Liste de Evaluations:</b> {{ "\n"|nl2br }}
 {% for item in fournisseur.evaluations %}
    note:{{ item.note }}<br>
{% endfor %}
 {{ "\n"|nl2br }}
 
{% endblock %}