{% extends 'base.html.twig' %}

{% block title %}Détails du Produit{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('fiche.css') }}">
{% endblock %}

{% block body %}
<div class="container">
    <h4>Le produit choisi est :</h4>

    <div class="item-card">
        <div class="item-info">
            <b>Matricule:</b> {{ produit.matricule }}
        </div>
        <div class="item-info">
            <b>Id:</b> {{ produit.id }}
        </div>
        <div class="item-info">
            <b>Prix:</b> {{ produit.prix }}
        </div>
        <div class="item-info">
            <b>Description:</b> {{ produit.description }}
        </div>
        <div class="item-info">
            <b>Fournisseur:</b> <span class="sub-info">{{ produit.produitFournisseur.nom }}</span>
        </div>
    </div>
</div>
{% endblock %}
